/* Navbar.css */
.nav-link {
    position: relative;
  }
  
  .nav-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px; /* Adjust height as needed */
    background: white; /* Change color as needed */
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust to move underline position */
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .nav-link:hover::after {
    transform: scaleX(1);
  }
  
  /* For Dropdown Items */
  .dropdown-item {
    position: relative;
  }
  .custom-navbar {
    background-color: #1E293B; /* Set your custom background color */
  }
  /* Ensure the dropdown title gets the correct color */
.custom-navbar .dropdown-toggle {
  color: white !important;  /* Force white text color */
}

  
  .dropdown-item::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px; /* Adjust height as needed */
    background: black; /* Change color as needed */
    position: absolute;
    left: 0;
    bottom: 0; /* Position at the bottom of the item */
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .dropdown-item:hover::after {
    transform: scaleX(1);
  }
 /* nav.css */
.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.custom-navbar .navbar-toggler {
  border: none; /* Remove the border around the hamburger icon if not needed */
}
